body {
    padding-top: 70px;
    background:rgba(0, 0, 0, 1);
}

body :not(.fa)
{
    font-family: 'Roboto', sans-serif !important;

}
body p{
    color: white;
}
.footer {
    margin-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0f0f0f;
}

h4{
    color: white;
}

h3{
    margin-top: 0;
    color: white;
}

.badge{
    background-color: black;
}
/*table*/

.table-bordered thead tr{
    background-color: black;
    color: white;

}

.table-bordered tbody tr{
    background-color: #0f0f0f;
    color: white;

}

.table-bordered tbody tr:hover{
    background-color: black;
}



.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 5px solid #000000;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;

}

.detail > thead > tr > th,
.detail > tbody > tr > th,
.detail > tfoot > tr > th,
.detail > thead > tr > td,
.detail > tbody > tr > td,
.detail > tfoot > tr > td {
    border: 1px solid transparent;
    color: white;
}

.table-bordered {
    border-top: 0 solid transparent;
}

.content-cell-td{
    height: 50px;
    line-height: 50px;
    overflow: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.content-cell-th{
    height: 40px;
    line-height: 40px;
    overflow:inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

/*Filter panel*/
.panel-default {
    border-color: black;
    border: 0px solid black;
    background: black;
}


.panel-default > .panel-heading{
    color: white;
    background-color: #0f0f0f;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-image: url(../images/asc.png);
    background-position: center right;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

}


.panel-heading.active{
    background-image: url(../images/desc.png);

}

.label-success:hover {
    background-color: darkgreen;
}



/*Filter panel item*/

.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 5px solid black;
}

.panel > .panel-collapse > .list-group .list-group-item {
    border-radius: 0;
    margin-bottom: 3px;
    border-bottom: 0px;
    border-top:  0px;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: white;
    background-color: #5cb85c;
}


.list-group button{
    background-color: #0f0f0f;
    color: #7d7d7d;
}

.list-group .list-group-item:hover,
.list-group .list-group-item:focus,
.list-group .list-group-item.active,
.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus,
.list-group button:active,
.list-group button:active:hover,
.list-group button:active:focus,
.list-group button:hover,
.list-group button:focus{
    background-color: #0f0f0f;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    color: #7d7d7d;
    border-bottom: 0px;
    border-top:  0px;
    border-left: 10px solid #5cb85c;
}



/*pagination*/

/* botones presionables */
ul.pagination > li > a{
    background-color: darkgreen;
    border-color: black;
    color: white;
    border-width: 3px;
}

/* botones presionables con mouse encima*/
ul.pagination > li > a:focus,
ul.pagination > li > a:hover{
    background-color: #5cb85c;
    border-color: black;
    color: white
}

/* botones activados */
ul.pagination > li.active > a,
ul.pagination > li.active > a:focus,
ul.pagination > li.active > a:hover{
    background-color: #5cb85c;
    border-color: black;
    color: white
}

/* botones desactivados*/
ul.pagination > li.disabled > a,
ul.pagination > li.disabled > a:focus,
ul.pagination > li.disabled > a:hover{
    cursor: not-allowed;
    background-color: #052305;
    border-color: black;
}

/* Bordes botones externos */
ul.pagination > li:first-child > a, .pagination > li:first-child > span{
    margin-left: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

ul.pagination > li:last-child > a, .pagination > li:last-child > span {
    margin-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*
ul.pagination li a:focus, ul.pagination li a:active,ul.pagination li a:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
*/

/*cosas*/

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
}
.navbar li { color: rgba(0, 0, 0, 0.8)}
/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.search-row .search-col {
    padding: 0;
    position: relative;
}
.search-row .btn-search {
    border-radius: 0 3px 3px 0!important;
}
.search-row .search-col .form-control, .search-row button.btn-search {
    border-radius: 0;
    border: 0;
    height: 48px;
    margin-bottom: 0;
}
.icon-append {
    color: #949494;
    font-size: 18px;
    left: 12px;
    position: absolute;
    top: 14px;
}
.has-icon {
    padding-left: 40px;
}
a{
    color: white;

}
a:hover, a:focus{
    color: white;
}

.offer-item, .feature-post {
    height: 450px;
    border-radius: 0;
    margin-top: 0;

}

.detail-image{
    height: 350px;
}

.feature-post .post-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 2px;
    margin-right: 2px;
    padding: 25px 20px;
    z-index: 1;
    color: #fff;
    border-radius: 0 0 3px 3px;
    padding-top: 50%;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.20) 18%, rgba(0,0,0,0.42) 36%, rgba(0,0,0,0.85) 70%, rgba(0,0,0,0.95) 87%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 18%,rgba(0,0,0,0.42) 36%,rgba(0,0,0,0.85) 70%,rgba(0,0,0,0.95) 87%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 18%,rgba(0,0,0,0.42) 36%,rgba(0,0,0,0.85) 70%,rgba(0,0,0,0.95) 87%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.feature-post .category {
    position: initial;
    display: inline-block;
    margin-bottom: 5px;
}

.feature-post .post-content .entry-title {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 10px;
}
.porcentaje{

    position: absolute;
    right:    0;
    bottom:   25px;
}

.descuento{
    color: #5cb85c;
}

.content-filter-section{
    padding-left: 0px;
    padding-right: 0px;
}

.content-title-section-decorator{
    background-color: #0f0f0f;
    width: 20px;
    min-width: 20px;
}
.content-title-section{
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    border-left: 10px solid #5cb85c;
    background-color: #0f0f0f;

}


.content-title-section > h4{
    margin: 5px;
}

.content-image-background{
    background-color: #0f0f0f;
    margin-right: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.content-detail-background{
    background-color: #0f0f0f;
    padding: 20px;
    margin-bottom: 20px;
}

.content-detail{
    padding: 0px;
}


.content{

    padding-left: 0;
    padding-right: 0;
}

.row_detail{
    cursor: pointer;
}

/*.dropdown-menu > .active > a,*/
/*.dropdown-menu > .active > a:hover,*/
/*.dropdown-menu > .active > a:focus {*/
/*border-width: 5px;*/
/*border-color: black;*/
/*background-color: #5cb85c;*/
/*}*/


/*Table sorter*/
th.header {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
}

th.headerSortUp {
    background-image: url(../images/asc.png);
}

th.headerSortDown {
    background-image: url(../images/desc.png);
}

/*Metascore*/
.metascore {
    position: relative;
    text-align: left;
    height: 2em;
    line-height: 2em;

}
.metascore .metascoreName {
    padding-left: 2.5em;

}

.metascore .metascoreScore {
    padding-right: 3.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5em;
}

.metascore .metascoreScore100 {
    position: absolute;
    right: 0;
    top: 0;

}

.metascore .metascoreLogo {
    height: 1.5em;
    left: 0;
    top: 0;
    position: absolute;
    width: 1.5em;
}

/*center modal*/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    background-color: transparent;
}

.modal-backdrop {
    background-color: black;
}

body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.footer-distributed{
    background-color: #0f0f0f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;

    padding: 50px 60px 40px;
    margin-top: 50px;
    overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
    float: left;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
    margin-top: 20px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
    float: right;
}

.footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form{
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{

    outline:0 !important;
    -webkit-appearance:none;
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 300px;
    padding: 10px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}


.footer-distributed form input{
    height: 40px;
    margin-bottom: 15px;
}

.footer-distributed form textarea{
    height: 80px;
    margin-bottom: 20px;
}

.footer-distributed form button{
    outline:0 !important;
    -webkit-appearance:none;
    border-radius: 3px;
    background-color:  #33383b;
    color: #ffffff;
    border: 0;
    padding: 10px 40px;
    font-weight: bold;
    float: right;
}

.footer-distributed form button:hover,
.footer-distributed form button:focus{
    background-color: #1b1f22;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea{
        width: 250px;
    }

    .footer-distributed form button{
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed{
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        margin-bottom: 40px;
    }

    .footer-distributed form{
        margin-top: 30px;
    }

    .footer-distributed form{
        display: block;
    }

    .footer-distributed form button{
        float: none;
    }
}


.footer-distributed .footer-icons a.facebook:hover{
    background-color:  #3B5998;
}
.footer-distributed .footer-icons a.twitter:hover{
    background-color:  #1DA1F2;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
