@(title : String,
        game: models.entities.Game,
        tuplesOfferPlatform: List[(models.entities.Offer, models.entities.Platform)])
@base(title){
    <div class="container contenedor">
        <div class="col-md-3 " style="text-align: center; margin-bottom: 0px">
                <div class ="detail-image" style="background-image: url(@routes.Assets.versioned(game.cover));
                background-size: cover; ">
                </div>
        </div>

        <div class="col-md-9">
            <h3>@game.name<small> @game.typeGame</small></h3>
            <p>@game.description
            </p>
            <div style="padding-left: 0">
                <table class="table detail">
                    <tbody>
                        <tr >
                            <td >Web Page</td>
                            <td ><a href="@game.link" target="_blank">@game.link</a></td>
                        </tr>
                        <tr >
                            <td >Rating</td>
                            <td >@game.rating</td>
                        </tr>
                        <tr >
                            <td >Publisher</td>
                            <td >@game.publisher</td>
                        </tr>
                        <tr >
                            <td >Genre(s)</td>
                            <td >Role-Playing</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="container contenedor">
        <table class="table table-bordered" >
            <thead>
                <tr>

                    <th>Plataforma</th>
                    <th>Tipo</th>
                    <th>Tienda</th>
                    <th>Precio Normal</th>
                    <th colspan=2>Precio Oferta</th>

                </tr>
            </thead>
            <tbody>
            @for(tupleOfferPlatform <- tuplesOfferPlatform) {
                <tr class="row_detail" onclick="trLink('@tupleOfferPlatform._1.link');">

                    <td>@tupleOfferPlatform._2.name</td>
                    <td>@game.typeGame</td>
                    <td>@tupleOfferPlatform._1.store</td>
                    <td>$@tupleOfferPlatform._1.normalPrice</td>
                    <td>$@tupleOfferPlatform._1.offerPrice</td>
                    <td class="descuento">@tupleOfferPlatform._1.discount%</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="container contenedor">
        <div class="col-md-4">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="myChart2"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="myChart3"></canvas>
        </div>
    </div>

    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var ctx3 = document.getElementById("myChart3");
        var myChart3 = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var ctx2 = document.getElementById("myChart2");
        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
}