@(title : String)
@base(title){
        <div class="container contenedor">
                <div class="col-md-3">
                        <img src="@routes.Assets.versioned("images/witcher.png")" class="img-rounded" alt="Witcher">
                </div>

                <div class="col-md-9">
                        <h3>The Witcher 3: Wild Hunt <small>Juego</small></h3>
                        <p>With the Empire attacking the Kingdoms of the North and the Wild Hunt, a cavalcade of
                                ghastly riders, breathing down your neck, the only way to survive is to fight back.
                                As Geralt of Rivia, a master swordsman and monster hunter, leave none of your enemies
                                standing. Explore a gigantic open world, slay beasts and decide the fates of whole
                                communities with your actions, all in a genuine next generation format. Also known
                                as "The Witcher III: Wild Hunt"</p>

                        <div class="container" style="padding-left: 0">
                                <table class="table detail">
                                        <tbody>
                                                <tr class="row">
                                                        <td class="col-md-1">Rating</td>
                                                        <td class="col-md-2">M</td>
                                                </tr>
                                                <tr class="row">
                                                        <td class="col-md-1">Official Site</td>
                                                        <td class="col-md-2">http://www.thewitcher.com</td>
                                                </tr>
                                                <tr class="row">
                                                        <td class="col-md-1">Developer</td>
                                                        <td class="col-md-2">CD Projekt Red Studio</td>
                                                </tr>
                                                <tr class="row">
                                                        <td class="col-md-1">Genre(s)</td>
                                                        <td class="col-md-2">Role-Playing</td>
                                                </tr>

                                        </tbody>
                                </table>
                        </div>

                </div>
        </div>
        <div class="container contenedor">

                <table class="table table-bordered" >
                        <thead>
                                <tr>
                                        <th>Nombre</th>
                                        <th>Plataforma</th>
                                        <th>Tipo</th>
                                        <th>Tienda</th>
                                        <th>Precio Normal</th>
                                        <th colspan=2>Precio Oferta</th>

                                </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <td>Witcher 3 - The Wild Hunt</td>
                                        <td>PC</td>
                                        <td>Juego</td>
                                        <td>Steam</td>
                                        <td>$22.000</td>
                                        <td>$11.000</td>
                                        <td class="descuento">-55%</td>


                                </tr>
                                <tr>
                                        <td>Witcher 3 - The Wild Hunt</td>
                                        <td>PC</td>
                                        <td>Juego</td>
                                        <td>Steam</td>
                                        <td>$22.000</td>
                                        <td>$11.000</td>
                                        <td class="descuento">-55%</td>
                                </tr>
                                <tr>
                                        <td>Witcher 3 - The Wild Hunt</td>
                                        <td>PC</td>
                                        <td>Juego</td>
                                        <td>Steam</td>
                                        <td>$22.000</td>
                                        <td>$11.000</td>
                                        <td class="descuento">-55%</td>
                                </tr>
                        </tbody>
                </table>
        </div>

        <div class="container contenedor">
                        <div class="col-md-4">
                                <canvas id="myChart"></canvas>
                        </div>
                        <div class="col-md-4">
                                <canvas id="myChart2"></canvas>
                        </div>
                        <div class="col-md-4">
                                <canvas id="myChart3"></canvas>
                        </div>
        </div>

        <script>
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                datasets: [{
                                        label: '# of Votes',
                                        data: [12, 19, 3, 5, 2, 3],
                                        backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                                'rgba(255,99,132,1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                }]
                        },
                        options: {
                                scales: {
                                        yAxes: [{
                                                ticks: {
                                                        beginAtZero:true
                                                }
                                        }]
                                }
                        }
                });
                var ctx3 = document.getElementById("myChart3");
                var myChart3 = new Chart(ctx3, {
                        type: 'bar',
                        data: {
                                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                datasets: [{
                                        label: '# of Votes',
                                        data: [12, 19, 3, 5, 2, 3],
                                        backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                                'rgba(255,99,132,1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                }]
                        },
                        options: {
                                scales: {
                                        yAxes: [{
                                                ticks: {
                                                        beginAtZero:true
                                                }
                                        }]
                                }
                        }
                });
                var ctx2 = document.getElementById("myChart2");
                var myChart2 = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                datasets: [{
                                        label: '# of Votes',
                                        data: [12, 19, 3, 5, 2, 3],
                                        backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                                'rgba(255,99,132,1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                }]
                        },
                        options: {
                                scales: {
                                        yAxes: [{
                                                ticks: {
                                                        beginAtZero:true
                                                }
                                        }]
                                }
                        }
                });
        </script>

}