@(title : String,
        game: models.entities.Game,
        tuplesOfferPlatformStore: List[(models.entities.Offer, models.entities.Platform, String)],
        genres: List[models.entities.Genre],
        categories: List[models.entities.Category],
        platforms: List[models.entities.Platform])
    @base(title){
        <div id="wrap">
            <div class="container" >
                <div class="col-md-3 content-detail" style="text-align: center;">
                    <div class="content-image-background">
                        <div  style="background-image: url(@routes.Assets.versioned(game.cover));
                            background-size: cover; ">
                            <img src="@routes.Assets.versioned(game.cover)"
                            style="visibility: hidden;max-width: 100%;
                                max-height: 100%;" />
                        </div>
                    </div>

                    <div class="content-image-background">
                        <div class="metascore">
                            <a target="_blank" href="@routes.Assets.versioned("images/metacritic_logo.png")">
                                <p class="metascoreName">Metacritic</p>
                                <figure class="metascoreLogo">
                                    <img src="@routes.Assets.versioned("images/metacritic_logo.png")" width="25">
                                </figure>

                                <div class="metascoreScore">
                                    <p class="green">@game.metacritic</p>
                                </div>

                            </a>
                        </div>
                    </div>

                    <div class="content-image-background">
                        <a type="submit" class="btn btn-danger btn-default" data-toggle="modal" data-target="#videoModal" data-theVideo="@game.videoLink">
                            <i class="fa fa-youtube-square" aria-hidden="true"></i> Ver Trailer
                        </a>
                    </div>

                </div>

                <div class="col-md-9 content-detail">
                    <div class="col-md-12 content-detail-background">

                        <h3>@game.name <small> @game.typeGame</small></h3>
                        <p>@game.description

                    </div>
                    <div class="col-md-12 content-detail">

                        <div class="col-md-9 content-detail">
                            <div class="content-image-background">
                                <div >
                                    <table class="table detail">
                                        <tbody>
                                            <tr >
                                                <td >Sitio Web</td>
                                                <td ><a href="@game.link" target="_blank">@game.link</a></td>
                                            </tr>
                                            <tr >
                                                <td >Publisher</td>
                                                <td >@game.publisher</td>
                                            </tr>
                                            <tr >
                                                <td >Developer</td>
                                                <td >@game.developer</td>
                                            </tr>
                                            <tr >
                                                <td >Género(s)</td>
                                                <td >@genres.mkString(", ")</td>
                                            </tr>
                                            <tr >
                                                <td >Categoría(s)</td>
                                                <td >@categories.mkString(", ")</td>
                                            </tr>
                                            <tr >
                                                <td >Plataforma(s)</td>
                                                <td >@platforms.mkString(", ")</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 content-detail-background">
                            <div style="background-image: url(@routes.Assets.versioned("images/rating/"+game.rating+".png"));
                                background-size: cover;  ">
                                <img src="@routes.Assets.versioned("images/rating/"+game.rating+".png")"
                                style="visibility: hidden;max-width: 100%;
                                    max-height: 100%;" />
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="container contenedor">
                <table class="table table-bordered" >
                    <thead>
                        <tr>

                            <th><div class="content-cell-th">Plataforma</div></th>
                            <th><div class="content-cell-th">Tipo</div></th>
                            <th><div class="content-cell-th">Tienda</div></th>
                            <th><div class="content-cell-th">Precio Normal</div></th>
                            <th colspan=2><div class="content-cell-th">Precio Oferta</div></th>

                        </tr>
                    </thead>
                    <tbody>
                    @for(tupleOfferPlatformStore <- tuplesOfferPlatformStore) {
                        <tr class="row_detail" onclick="trLink('@routes.HomeController.goOffer(tupleOfferPlatformStore._1.id,tupleOfferPlatformStore._1.link)');">
                            <td><div class="content-cell-td">@tupleOfferPlatformStore._2.name</div></td>
                            <td><div class="content-cell-td">@game.typeGame</div></td>
                            <td><div class="content-cell-td">@tupleOfferPlatformStore._3</div></td>
                            <td><div class="content-cell-td">$@tupleOfferPlatformStore._1.normalPrice</div></td>
                            <td><div class="content-cell-td">$@tupleOfferPlatformStore._1.offerPrice</div></td>
                            <td class="descuento"><div class="content-cell-td">@tupleOfferPlatformStore._1.discount%</div></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="container contenedor">
                <div class="col-md-12">
                    <canvas id="myChart" data-idgame="@game.id"></canvas>
                </div>
            </div>


        </div>
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            <iframe id="frame" width="100%" height="350" src=""
                            allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                            msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                            webkitallowfullscreen="webkitallowfullscreen"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">

            <div id="disqus_thread"></div>
            <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */

                     var disqus_config = function () {
                     this.page.url = 'https://gamedeals.emoreno.cl/detail/@game.id';
                     this.page.identifier = '@game.id';
                     };

                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//gamedelas.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div>

        <script>
                //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
                function autoPlayYouTubeModal(){
                    var trigger = $("body").find('[data-toggle="modal"]');
                    trigger.click(function() {
                        var theModal = $(this).data( "target" ),
                                videoSRC = $(this).attr( "data-theVideo" ),
                                videoSRCauto = videoSRC+"?autoplay=1" ;
                        $(theModal+' iframe').attr('src', videoSRCauto);
                        $(theModal+' button.close').click(function () {
                            $(theModal+' iframe').attr('src', videoSRC);
                        });
                    });

                    $("#videoModal").on('hidden.bs.modal', function (e) {
                        $('#frame').removeAttr('src');
                    });
                }
                $(document).ready(function(){
                    autoPlayYouTubeModal();
                });
        </script>

        <script>
                $(document).ready(function() {
                    var ctx = $('#myChart');
                    var id = $(ctx).data('idgame');

                    $.get('/api/graphic/id/' + id, function(data, status) {
                        if (status === 'success') {
                            if (data['data']) {
                                new Chart(ctx, {
                                    type: 'line',
                                    data: data['data'],
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            } else {
                                // no hay datos para hacer un grafico
                            }
                        }
                    });
                })

        </script>
    }