@(
        title : String,
        tuplesGamesWithOffersByEnd: List[(models.entities.Offer, models.entities.Game, models.entities.Platform, models.entities.Store)],
        tuplesGamesWithOffersLessTenThousand:List[(models.entities.Offer, models.entities.Game, models.entities.Platform, models.entities.Store)],
        tuplesGamesWithLastOffers: List[(models.entities.Offer, models.entities.Game, models.entities.Platform, models.entities.Store)],
        tuplesGamesWithBestOffers: List[(models.entities.Offer, models.entities.Game, models.entities.Platform, models.entities.Store)],
        tuplesGamesWithOffersMoreVisits: List[(models.entities.Offer, models.entities.Game, models.entities.Platform, models.entities.Store)]
)
@platformColor(platform: String) = @{
    if (platform.contains("PS")) {
        "blue"
    }else {
        if(platform.contains("Xbox")){
            "green"
        }else{
            "black"
        }
    }

}
@import java.lang.Boolean; var open1=false; var open2=false; var open3=false; var open4=false;

@base(title){
    <div class="container">
        <div class="jumbotron" >
            <img src="@routes.Assets.versioned("images/logo_brand.png")"  height="100" width="150">
            <h1 style="color: white">GameDeals</h1>
            <div class="container">
                <p style="color: white">Find the best deals on the most popular stores in the world </p>
                <br>
                <div class="searchBar container row">
                    <div  class="row search-row animated fadeInUp col-md-offset-3">
                        <form id="form" method="get" action="/result"  autocomplete="off">
                            <div class="col-md-7 search-col relative locationicon">
                                <i class="fa fa-gamepad icon-append" aria-hidden="true"></i>
                                <input type="text" name="query" id="typeahead" class="form-control has-icon" placeholder="Buscar un juego" value=""  autocomplete="off">
                            </div>
                            <div class="col-md-1 search-col">
                                <button class="btn btn-success btn-search btn-block">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui four column grid">
            @for(tuple <- tuplesGamesWithLastOffers) {
                <div class="column">
                    <div class="ui fluid link green card">
                        <a class="image" href="@routes.DetailController.index(tuple._2.id)">
                            <div class="ui @platformColor(tuple._3.name) ribbon label" >@tuple._3.name </div>
                            <div class="ui green ribbon label" style="margin-top: 3.5rem">- @tuple._1.discount<i class="fa fa-percent"></i></div>
                            <img src="/assets/@tuple._2.cover">
                        </a>
                        <div class="content">
                            <div style="white-space: nowrap;overflow: hidden;"><a style="text-overflow: ellipsis;
                        " class="header" href="@routes.DetailController.index(tuple._2.id)"> @tuple._2.name  </a></div>
                            <div class="meta">
                                <span class="date">@tuple._2.typeGame</span>
                            </div>
                            <div class="meta">
                                <span class="date">  @tuple._4.name </span>
                            </div>
                            <div class="meta">
                                <span class="date">Normal: $  @tuple._1.normalPrice  </span>
                            </div>
                            <div class="description">
                                <p>Oferta: $  @tuple._1.offerPrice  </p>
                            </div>
                        </div>
                        <a target="_blank" class="ui bottom @platformColor(tuple._3.name) attached button " href="@routes.HomeController.goOffer(tuple._1.id,tuple._1.link)">Ver oferta</a>
                    </div>
                </div>
            }
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            @*Mejores ofertas y por terminar*@
            <div class="col-md-8" >
                <div class="row content-title-section" style="margin-right: 15px">
                    <h4>Mejores ofertas</h4>
                </div>
                <div class="ui content-offer" >

                @for(((offer, game, platform, store), index) <- tuplesGamesWithBestOffers.zipWithIndex) {

                    @if(!open1 && index%4 == 0){
                        <div class="ui four column grid" >
                            @{open1 = true;}
                        }
                    <div class="column">
                        <div class="ui fluid link green card">
                            <a class="image" href="@routes.DetailController.index(game.id)">
                                <div class="ui @platformColor(platform.name) ribbon label" >@platform.name </div>
                                <div class="ui green ribbon label" style="margin-top: 3.5rem">- @offer.discount<i class="fa fa-percent"></i></div>

                                <img src="/assets/@game.cover">
                            </a>
                            <div class="content">
                                <div style="white-space: nowrap;overflow: hidden;"><a style="text-overflow: ellipsis;
                                    " class="header" href="@routes.DetailController.index(game.id)"> @game.name  </a></div>
                                <div class="meta">
                                    <span class="date">@game.typeGame</span>
                                </div>
                                <div class="meta" style="white-space: nowrap;overflow: hidden;">
                                    <span class="date" style="text-overflow: ellipsis;">@store.name</span>
                                </div>
                                <div class="meta">
                                    <span class="date">Normal: $@offer.normalPrice  </span>
                                </div>
                                <div class="description">
                                    <p>Oferta: $@offer.offerPrice  </p>
                                </div>
                            </div>
                            <a target="_blank" class="ui bottom  @platformColor(platform.name)  attached button " href="@routes.HomeController.goOffer(offer.id,offer.link)">Ver oferta</a>
                        </div>
                    </div>

                    @if(open1 && ((index+1)%4 == 0 || (index+1) == tuplesGamesWithBestOffers.length)){
                        @{open1 = false;}
                    </div>
                    }
                }
                </div>

                <br>
                <br>
                <div class="row content-title-section" style="margin-right: 15px">
                    <h4>Ofertas por terminar</h4>
                </div>
                <div class="ui content-offer" >
                @for(((offer, game, platform, store), index) <- tuplesGamesWithOffersByEnd.zipWithIndex) {

                    @if(!open2 && index%4 == 0){
                        <div class="ui four column grid">
                            @{open2 = true;}
                        }
                    <div class="column">
                        <div class="ui fluid link green card">
                            <a class="image" href="@routes.DetailController.index(game.id)">
                                <div class="ui @platformColor(platform.name) ribbon label" >@platform.name </div>
                                <div class="ui green ribbon label" style="margin-top: 3.5rem">- @offer.discount<i class="fa fa-percent"></i></div>

                                <img src="/assets/@game.cover">
                            </a>
                            <div class="content">
                                <div style="white-space: nowrap;overflow: hidden;"><a style="text-overflow: ellipsis;
                                    " class="header" href="@routes.DetailController.index(game.id)"> @game.name  </a></div>
                                <div class="meta">
                                    <span class="date">@game.typeGame</span>
                                </div>
                                <div class="meta"  style="white-space: nowrap;overflow: hidden;">
                                    <span class="date" style="text-overflow: ellipsis;">@store.name  </span>
                                </div>
                                <div class="meta">
                                    <span class="date">Normal: $@offer.normalPrice  </span>
                                </div>
                                <div class="description">
                                    <p>Oferta: $@offer.offerPrice  </p>
                                </div>
                            </div>
                            <a target="_blank" class="ui bottom @platformColor(platform.name)  attached button " href="@routes.HomeController.goOffer(offer.id,offer.link)">Ver oferta</a>
                        </div>
                    </div>

                    @if(open2 && ((index+1)%4 == 0 || (index+1) == tuplesGamesWithOffersByEnd.length)){
                        @{open2 = false;}
                    </div>
                    }
                }
                    </div>
            </div>
            @*Menos de 10k pesos y mas visitadas*@
            <div class="col-md-4">
                <div class="row content-title-section" >
                    <h4>Ofertas a menos de $5</h4>
                </div>
                <div class="ui content-offer content-offer-right" >
                @for(((offer, game, platform, store), index) <- tuplesGamesWithOffersLessTenThousand.zipWithIndex) {

                    @if(!open3 && index%2 == 0){
                        <div class="ui two column grid">
                            @{open3 = true;}
                        }
                    <div class="column">
                        <div class="ui fluid link green card">
                            <a class="image" href="@routes.DetailController.index(game.id)">
                                <div class="ui @platformColor(platform.name) ribbon label" >@platform.name </div>
                                <div class="ui green ribbon label" style="margin-top: 3.5rem">- @offer.discount<i class="fa fa-percent"></i></div>

                                <img src="/assets/@game.cover">
                            </a>
                            <div class="content">
                                <div style="white-space: nowrap;overflow: hidden;"><a style="text-overflow: ellipsis;
                                    " class="header" href="@routes.DetailController.index(game.id)"> @game.name  </a></div>
                                <div class="meta">
                                    <span class="date">@game.typeGame</span>
                                </div>
                                <div class="meta"  style="white-space: nowrap;overflow: hidden;">
                                    <span class="date" style="text-overflow: ellipsis;">@store.name  </span>
                                </div>
                                <div class="meta">
                                    <span class="date">Normal: $@offer.normalPrice  </span>
                                </div>
                                <div class="description">
                                    <p>Oferta: $@offer.offerPrice  </p>
                                </div>
                            </div>
                            <a target="_blank" class="ui bottom @platformColor(platform.name) attached button " href="@routes.HomeController.goOffer(offer.id,offer.link)">Ver oferta</a>
                        </div>
                    </div>

                    @if(open3 && ((index+1)%2 == 0 || (index+1) == tuplesGamesWithOffersLessTenThousand.length)){
                        @{open3 = false;}
                    </div>
                    }
                }
                    </div>
                <br>
                <br>
                <div class="row content-title-section">
                    <h4>Ofertas más visitadas</h4>
                </div>
                <div class="ui content-offer content-offer-right" >
                @for(((offer, game, platform, store), index) <- tuplesGamesWithOffersMoreVisits.zipWithIndex) {

                    @if(!open4 && index%2 == 0){
                        <div class="ui two column grid">
                            @{open4 = true;}
                        }
                    <div class="column">
                        <div class="ui fluid link green card">
                            <a class="image" href="@routes.DetailController.index(game.id)">
                                <div class="ui @platformColor(platform.name) ribbon label" >@platform.name </div>
                                <div class="ui green ribbon label" style="margin-top: 3.5rem">- @offer.discount<i class="fa fa-percent"></i></div>

                                <img src="/assets/@game.cover">
                            </a>
                            <div class="content">
                                <div style="white-space: nowrap;overflow: hidden;"><a style="text-overflow: ellipsis;
                                    " class="header" href="@routes.DetailController.index(game.id)"> @game.name  </a></div>
                                <div class="meta">
                                    <span class="date">@game.typeGame</span>
                                </div>
                                <div class="meta"  style="white-space: nowrap;overflow: hidden;">
                                    <span class="date" style="text-overflow: ellipsis;">@store.name  </span>
                                </div>
                                <div class="meta">
                                    <span class="date">Normal: $@offer.normalPrice  </span>
                                </div>
                                <div class="description">
                                    <p>Oferta: $@offer.offerPrice  </p>
                                </div>
                            </div>
                            <a target="_blank" class="ui bottom @platformColor(platform.name) attached button " href="@routes.HomeController.goOffer(offer.id,offer.link)">Ver oferta</a>
                        </div>
                    </div>

                    @if(open4 && ((index+1)%2 == 0 || (index+1) == tuplesGamesWithOffersMoreVisits.length)){
                        @{open4 = false;}
                    </div>
                    }
                }
                    </div>
            </div>
        </div>




    </div>
    <script type="text/javascript" >
            //Search
            function getGames(){
                var $input = $('#typeahead');
                $.get('api/games', function(data){
                    console.log(data["data"]);
                    $input.typeahead({ source:data["data"] });
                },'json');
                $input.change(function() {
                    var current = $input.typeahead("getActive");
                    if (current) {
                        // Some item from your model is active!
                        if (current.name == $input.val()) {
                            console.log("Match: "+ current.name);
                            $input.val('');
                            window.location.href = "detail/"+current.id;
                        } else {
                            // This means it is only a partial match, you can either add a new item
                            // or take the active if you don't want new items
                        }
                    } else {
                        // Nothing is active so it is a new value (or maybe empty value)
                    }
                });
            }

            $(document).ready(function() {
                getGames();

            });



    </script>
}