@(
        title : String,
        tuplesGamesWithOffersByEnd: List[(models.entities.Offer, models.entities.Game, models.entities.Platform)],
        tuplesGamesWithOffersLessTenThousand:List[(models.entities.Offer, models.entities.Game, models.entities.Platform)],
        tuplesLastGamesWithOffers: List[(models.entities.Offer, models.entities.Game, models.entities.Platform, models.entities.Store)]
)

@base(title){
    <div class="container">
        <div class="jumbotron" >
            <img src="@routes.Assets.versioned("images/logo_brand.png")"  height="100" width="150">
            <h1 style="color: white">Is There Any Offer</h1>
            <div class="container">
                <p style="color: white"> Find the best deals on the most popular stores in the world </p>
                <br>
                <div class="searchBar container row">
                    <div  class="row search-row animated fadeInUp col-md-offset-3">
                        <form id="form" method="get" action="/result"  autocomplete="off">
                            <div class="col-md-7 search-col relative locationicon">
                                <i class="fa fa-gamepad icon-append" aria-hidden="true"></i>
                                <input type="text" name="query" id="typeahead" class="form-control has-icon" placeholder="I am looking for ..." value=""  autocomplete="off">
                            </div>
                            <div class="col-md-1 search-col">
                                <button class="btn btn-success btn-search btn-block">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="ui four column grid">
        @for(tuple <- tuplesLastGamesWithOffers) {



            <div class="column">
                <div class="ui fluid link green card">
                    <a class="image" href="/detail/@tuple._2.id">
                        <div class="ui green ribbon label" >@tuple._3.name </div>
                        <div class="ui green ribbon label" style="margin-top: 3.5rem">@tuple._1.discount<i class="fa fa-percent"></i></div>
                        <img src="/assets/@tuple._2.cover">
                    </a>
                    <div class="content">
                        <div style="white-space: nowrap;overflow: hidden;"><a style="text-overflow: ellipsis;
                        " class="header" href="/detail/@tuple._2.id  "> @tuple._2.name  </a></div>
                        <div class="meta">
                            <span class="date">@tuple._2.typeGame</span>
                        </div>
                        <div class="meta">
                        <span class="date">  @tuple._4.name </span>
                        </div>
                        <div class="meta">
                        <span class="date">Normal: $  @tuple._1.normalPrice  </span>
                        </div>
                        <div class="description">
                        <p>Offer: $  @tuple._1.offerPrice  </p>
                        </div>
                    </div>
                    <a target="_blank" class="ui bottom attached button " href="   @tuple._1.link  ">Ver oferta</a>
                </div>
            </div>


        }
            </div>
        </div>
        <br>

        <div class="row">
            @*Mejores ofertas y por terminar*@
            <div class="col-md-8">

            </div>
            @*Menos de 10k pesos y mas visitadas*@
            <div class="col-md-4">

            </div>
        </div>




    </div>
    <script type="text/javascript" >
            //Search
            function getGames(){
                var $input = $('#typeahead');
                $.get('api/games', function(data){
                    console.log(data["data"]);
                    $input.typeahead({ source:data["data"] });
                },'json');
                $input.change(function() {
                    var current = $input.typeahead("getActive");
                    if (current) {
                        // Some item from your model is active!
                        if (current.name == $input.val()) {
                            console.log("Match: "+ current.name);
                            $input.val('');
                            window.location.href = "detail/"+current.id;
                        } else {
                            // This means it is only a partial match, you can either add a new item
                            // or take the active if you don't want new items
                        }
                    } else {
                        // Nothing is active so it is a new value (or maybe empty value)
                    }
                });
            }

            $(document).ready(function() {
                getGames();

            });



    </script>
}